/*//////////////// Viewer Editer /////////////////////*/

.UI-edit-add {
    color: #46b13f;
    font-size: 16px;
    padding: 2px 11px;
    background: #eee;
    border-radius: 5px;
    /*margin: 10px 20px 20px;*/
    cursor: pointer;
    transition: 1s;
    display: inline-block;
}

    .UI-edit-add:hover {
        color: #ddd;
        background: #46b13f;
        transition: 0.2s;
    }

.UI-edit {
    color: #567ff8;
    font-size: 13px;
    padding: 2px 11px;
    background: #eee;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: 1s;
}

    .UI-edit:hover {
        color: #ddd;
        background: #567ff8;
        transition: 0.2s;
    }

.UI-edit-delete {
    color: #900101;
    font-size: 15px;
    padding: 2px 11px;
    background: #eee;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: 1s;
    /* 	top: 2px; */
    /* 	right: -35px; */
    /* 	position: absolute; */
    font-weight: bold;
    z-index: 99;
}

    .UI-edit-delete:hover {
        color: #fff;
        background: #f30000;
        transition: 0.2s;
    }

.UI-editor {
    background: #567ff8;
    padding: 20px 20px;
    display: block;
    transition: 0.1s;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
}

    .UI-editor input {
        font-family: 'Raleway', sans-serif;
        outline: none;
        padding: 12px 10px;
        font-size: inherit;
        border-radius: 3px;
        border: none;
    }

    .UI-editor textarea {
        font-family: 'Raleway', sans-serif;
        outline: none;
        padding: 12px 10px;
        font-size: inherit;
        width: 100%;
        box-sizing: border-box;
        min-height: 300px;
        line-height: 1.6;
        word-spacing: 1px;
        letter-spacing: 0.1px;
    }

.UI-edit-warning {
    color: #ffc02c;
    font-size: 70%;
}

.UI-edit-div {
    background: #567ff8;
    padding: 20px 20px;
    display: block;
    transition: 0.1s;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    margin: 30px 0 60px;
}

.UI-edit-div-active {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 4px 20px;
    margin: 3px 19px;
    color: white;
}


.UI-edit-div-button {
    display: inline-block;
    height: 30px;
    background: #fff;
    line-height: 30px;
    padding: 4px 20px;
    border-radius: 16px;
    margin: 3px 19px;
    cursor: pointer;
    transition: 0.1s;
}

.UI-edit-div-wait:hover, .UI-edit-div-wait.hovered {
    background: #ff9d9d;
    transition: 0.8s;
}

.UI-edit-div-save:hover, .UI-edit-div-save.hovered {
    background: #92e29c;
    transition: 0.8s;
    color: white;
}

.UI-edit-div-error, .UI-edit-div-error:hover, .UI-edit-div-save.hovered {
    background: #cc4a4a;
    transition: 0.8s;
    color: white;
}



span.UI-edit-auto {
    color: #999;
    padding: 3px 14px;
    display: inline-block;
    background: #eee;
    width: auto;
    margin: 0px 10px 0 0;
    /* white-space: pre-line; */
    border-radius: 9px;
    /* clear: both; */
}

.alert-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: block;
    z-index: 1500;
    text-align: center;
}

    .alert-container h3 {
        text-align: center;
    }

    .alert-container input {
        padding: 10px 4px 10px 37px;
        width: 250px;
        margin: 8px 0px 25px;
    }

.alert-popup {
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    background: #fff;
}

.alert-suggestion ul {
    padding: 0;
}

.alert-suggestion li {
    border-bottom: 1px solid #ddd;
    width: 100%;
    background: #eee;
    list-style-type: none;
    text-align: left;
    padding: 5px 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.6s;
    margin: 9px 0;
}

    .alert-suggestion li:hover {
        transition: 0.6s;
        background: #ddd;
    }

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner {
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
}

    .spinner:before {
        animation: 2s linear infinite spinner;
        border: solid 3px #dedede;
        border-bottom-color: #0748ff;
        border-radius: 50%;
        content: "";
        height: 17px;
        left: 5px;
        /*     opacity: inherit; */
        position: relative;
        top: 50%;
        /*     transform: translate3d(-50%, -50%, 0); */
        /*     transform-origin: center; */
        width: 17px;
        /*     will-change: transform; */
        display: inline-block;
    }

.graph-UI-input-group {
    position: relative;
}

    .graph-UI-input-group .UI-edit-delete {
        position: absolute;
        right: 10px;
        top: 45px;
    }

.UI-edit-add-fomrula-part {
    margin: 30px 0 10px;
    background: rgba(255,255,255,0.55);
    padding: 13px;
    border-radius: 3px;
    opacity: 0.7;
    transition: 0.5s;
    cursor: pointer;
}

    .UI-edit-add-fomrula-part:hover {
        opacity: 1;
        transition: 0.2s;
    }

.UI-edit-row {
    cursor: pointer;
    background: rgba(255,255,255,0.7);
    border-radius: 13px;
    opacity: 0.7;
    transition: 0.2s;
}

    .UI-edit-row:hover {
        opacity: 1;
        transition: 0.2s;
    }


/*TITLES*/


.edit-container-fieldname{
    margin:0 30px;
}
#graph-UI-extras span {
    text-align: left;
    font-size: 20px;
}

/*////////////////////////////////////////////////////////////////*/

/*

.overlay {
    position: fixed;
    background: rgba(150, 150, 150, 0.9);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
}

.overlay-background {
    position: absolute;
    cursor: pointer;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.overlay-container {
    position: relative;
    background: #fff;
    width: 100vw;
    padding: 10px 30px;
    box-sizing: border-box;
}

.overlay-close {
    position: absolute;
    background: #ddd;
    display: block;
    width: 60px;
    text-align: center;
    cursor: pointer;
    top: 15px;
    right: 20px;
    padding: 2px;
    border-radius: 100px;
    font-size: 80%;
}

.overlay h1 {
    font-size: 120%;
    text-align: center;
}

.overlay-html {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.newItem-input-div input {
    width: 80%;
    padding: 10px 10px;
    color: #000;
    box-sizing: border-box;
    margin: 15px 10% 15px;
}

.newItem-input-div {
    height: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background: #567ff8;
    padding: 0 30px 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
}

.newItem-suggestions-div {
    position: relative;
    box-sizing: border-box;
    max-height: calc(100vh - 270px);
    min-height: 160px;
    overflow-y: scroll;
    transition: 0.2s;
}



.newItem-pick-div {
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
    height: 33px;
}

    .newItem-pick-div > div {
        float: left;
        width: 50%;
    }

    .newItem-pick-div label {
        width: 100%;
        padding: 6px 0 4px;
        background: #567ff8;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        opacity: 0.6;
        color: black;
        cursor: pointer;
        transition: 0.5s;
    }

        .newItem-pick-div label:hover {
            opacity: 0.75;
            color: white;
        }

    .newItem-pick-div input:checked + label {
        opacity: 1;
        color: white;
    }

    .newItem-pick-div div:first-child label {
        border-top-left-radius: 10px;
    }

    .newItem-pick-div div:last-child label {
        border-top-right-radius: 10px;
    }

    .newItem-pick-div input {
        z-index: -9; 
        position: absolute;
    }




.newItem-item-div {
    display: block;
    background: #fff;
    box-sizing: border-box;
    border-top: 1px solid #aaa;
    padding: 7px 10px;
    cursor: pointer;
    transition: 0.5s;
    width: 50%;
    float: left;
}

    .newItem-item-div:hover {
        background: #eee;
        color: #567ff8;
    }







@media only screen and (min-width: 800px) {
    .overlay-container {
        margin: 20px auto 40px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
        max-width: 740px;
    }
}
*/
/*////////////////////////////////////////////////////////////////*/
.overlay {
    position: fixed;
    background: rgba(150, 150, 150, 0.9);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
}

.overlay-background {
    position: absolute;
    cursor: pointer;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.overlay-container {
    position: relative;
    background: #fff;
    width: 100vw;
    min-width: 300px;
    padding: 10px 0;
    height: 100vh;
    box-sizing: border-box;
}

.overlay-close {
    position: absolute;
    background: #ddd;
    display: block;
    width: 60px;
    text-align: center;
    cursor: pointer;
    top: 15px;
    right: 20px;
    padding: 2px;
    border-radius: 100px;
    font-size: 80%;
}

.overlay h1 {
    font-size: 120%;
    text-align: center;
}

.overlay-html {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
/* TABS*/
.overlay-tabs {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: relative;
    height: 33px;
}

    .overlay-tabs > div {
        flex: 1 auto;
    }

    .overlay-tabs label {
        width: 100%;
        padding: 6px 0 4px;
        background: #567ff8;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        opacity: 0.6;
        color: black;
        cursor: pointer;
        transition: 0.5s;
    }

        .overlay-tabs label:hover {
            opacity: 0.75;
            color: white;
        }

    .overlay-tabs input:checked + label {
        opacity: 1;
        color: white;
    }

    .overlay-tabs div:first-child label {
        border-top-left-radius: 10px;
    }

    .overlay-tabs div:last-child label {
        border-top-right-radius: 10px;
    }

    .overlay-tabs input {
        z-index: -9; /* better than hide*/
        position: absolute;
    }

/*///////*/
.overlay-general,
.overlay-tab {
    height: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background: #567ff8;
    padding: 0 30px 50px;
    display: flex;
    flex-flow: row wrap;
}

.overlay-tab {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.overlay-general {
    padding-top: 10px;
    padding-bottom: 0px;
}
    .overlay-general label {
        margin: 6px 4px;
        flex: 6 1 auto;
    }
    .overlay-general input,
    .overlay-general textarea{
        width: 100%;
    }
    .overlay-general textarea, .overlay-general input, .overlay-tab input {
        padding: 10px 10px;
        box-sizing: border-box;
        border: none;
        border-radius: 15px;
    }

    .overlay-general textarea {
        resize: vertical;
        flex: 10 1 100%;
    }

.overlay-tab label {
    resize: vertical;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    line-height: 43px;
    font-size: 80%;
}

    .overlay-tab label span {
        min-width: 60px;
    }

.overlay-button {
    background: #fff;
    display: block;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 90%;
    margin: 20px auto 0px;
    /*max-width: 60px;*/
    white-space: nowrap;
}

/* BEGIN New LINKS BEGIN */

.newItem-item-div {
    background: #fff;
    box-sizing: border-box;
    border-top: 1px solid #aaa;
    padding: 7px 10px;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    width: 100%;
    float: left;
    font-size: 90%;
    display: flex;
    flex-flow: row wrap;
}

    .newItem-item-div:hover {
        background: #eee;
        color: #567ff8;
    }

.newItem-codes {
    /* 	background:#ddffaa; */
    flex: 20 auto;
    padding-bottom: 10px;
}

.newItem-meta {
    /* 	background:#ddffff; */
    flex: 1 auto;
    padding-bottom: 10px;
}

.newItem-desc {
    /* 	background:#ddd; */
    flex-basis: 100%;
    overflow-y: auto;
    max-height: 100px;
}
/*///////////*/
.newItem-title {
    display: inline-block;
    font-weight: bold;
    padding-right: 30px;
}

.newItem-sub {
    display: inline-block;
}

.newItem-long {
    display: inline-block;
    font-style: italic;
    opacity: 0.7;
    padding-right: 30px;
}

.newItem-short {
    display: inline-block;
    font-style: italic;
    opacity: 0.7;
}

.newItem-tags {
    opacity: 0.7;
}


.newItem-group {
    display: inline-block;
    opacity: 0.7;
}

.newItem-subgroup {
    display: inline-block;
    opacity: 0.7;
}



/* END New Links END*/

@media only screen and (min-width: 800px) {
    .overlay-container {
        margin: 20px auto 40px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
        max-width: 740px;
        padding: 10px 30px;
        height: initial;
    }
}
